@import "https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css";
:root{
  --primary:#4a670b;
--on-primary:#ffffff;
--primary-container:#caef87;
--on-primary-container:#131f00;
--secondary:#596248;
--on-secondary:#ffffff;
--secondary-container:#dde6c6;
--on-secondary-container:#171e0a;
--tertiary:#396661;
--on-tertiary:#ffffff;
--tertiary-container:#bcece5;
--on-tertiary-container:#00201d;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fefcf4;
--on-background:#1b1c17;
--surface:#fbf9f2;
--on-surface:#1b1c17;
--surface-variant:#e2e4d4;
--on-surface-variant:#45483d;
--outline:#75786b;
--outline-variant:#c5c8b9;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#30312c;
--inverse-on-surface:#f2f1e9;
--inverse-primary:#afd36e;
--surface-dim:#dbdad3;
--surface-bright:#fbf9f2;
--surface-container-lowest:#ffffff;
--surface-container-low:#f5f4ec;
--surface-container:#efeee6;
--surface-container-high:#e9e8e1;
--surface-container-highest:#e4e3db;
}

.hero{
  padding: 0;
  margin: 5px;
  aspect-ratio: 21/6;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background-image: url('https://images.unsplash.com/photo-1716389941212-a6bc53add871?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.hero-image-text{
  color: var(--on-primary);
  mix-blend-mode: difference;
  backdrop-filter: blur(3px);
  z-index: 2;
}
img{
  aspect-ratio: 21/6;
  object-fit: cover;
  border-radius: 4px;
}
.desktop{
  display: none;
}
.mobile{
  display: flex;
}
@media (width > 768px) {
  .desktop{
    display: grid;
  }
  .mobile{
    display: none;
  }
}